#achievements {
    background-color: var(--black);
    padding: 50px 0;
}

#achievements-list {
    width: 60vw;
    margin: 32px auto 0;
}

.achievement-card {
    margin: 0 36px;
    padding: 1em;
    border-radius: 15px;
    background-color: var(--secondary-color);
    text-align: center;
    box-shadow: 0 5px 20px -15px #000000;
}